:root {
  --color-bronze-rank: #412918;
  --color-bronze-text: #3e2714;
  --color-bronze-border: #cfa283;

  --color-silver-text: #212b2c;
  --color-silver-rank: #25282d;
  --color-silver-border: #afb7c1;

  --color-gold-text: #46390c;
  --color-gold-rank: #4b3b0e;
  --color-gold-border: #c7b051;

  --color-diamond-text: #bfcc5c;
  --color-diamond-rank: #bfcc5c;
  --color-diamond-border: #bfcc5c;

  --color-legend-text: #4f4715;
  --color-legend-rank: #4f4715;
  --color-legend-border: #4f4715;
}
